
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>

	<h2 class="text-center">Sign up</h2>

  <%= f.error_notification %>

    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", html_input: {class: "form-control"} %>
    <%= f.input :password, required: true, label: false, placeholder: "Password", html_input: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", html_input: {class: "form-control"} %>
 
    <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
 <% end %>

<%= render "devise/shared/links" %>
