
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
<h2 class="text-center">Change your password</h2>

  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

    <%= f.input :password, label: false, required: true, autofocus: true, placeholder: "Password", html_input: { class: "form-control" } %>
    <%= f.input :password_confirmation, label: false, required: true, placeholder: "Password Confirmation", html_input: { class: "form-control" } %>
    <%= f.button :submit, "Change my password", class: "btn btn-primary btn-block" %>
  
<% end %>

<%= render "devise/shared/links" %>
