<table class="table table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Available</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @books.each do |book| %>	
		<tr>
			<td><%= book.id %></td>
			<td><%= link_to book.name, book_path(book) %></td>
			<td><%= book.availability %></td>
			<td><%= link_to "Edit", edit_book_path(book) %></td>
		</tr>
	<% end %>
	</tbody>
</table>