<div class="jumbotron">
	<h1>Welcome to eStuk</h1>
	<p>The largest online Digital Book Store</p>
	<%= link_to "Books", books_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="row">
	<%= render @books %>
</div>