<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @book.image.url(:original), class: "img-responsive" %>
    </div>
    <div class="col-md-6">
      <h3><%= @book.name %> by <%= @book.author %></h3>
      <p><%= @book.description %></p>
      <h4 class="text-center">£<%= @book.price.to_f/100 %></h4>

      <% if current_user %>

      <%= form_tag buy_path(slug: @book.slug) do %>
        <script 
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= @book.price %>"
          data-name="eStuk"
          data-description="<%= @book.name %>"
          data-email="<%= current_user.email %>"
        >
        </script>
      <% end %>

    <% else %>
     
    <p>Please Login First to Buy</p>
     
    <% end %>

    </div>
  </div>
</div>