<div class="row text-center">
	<h1>Congratulations on your order!</h1>
	<h3>Order #: <%= @sale.guid %></h3>
	<p>Here is the download link:</p>
	<%= link_to "Download", @book.resource.url, class: "btn btn-primary btn-lg" %>
</div>